.places {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
}
.places h1 {
    font-size: 30px;
    width: 100%;
    margin: 0px;
    padding-top: 20px;
    padding-left: 20px;
}

article {
    width: 390px;
    padding: 20px;
    margin: 20px;
    border: 1px solid #FF5A5F;
    border-radius: 4px;
    display: flex;
    justify-content: center;
}
article h2 {
    font-size: 30px;
}
.price_by_night {
    font: #FF5A5F;
    border-color: #FF5A5F;
    border: 4px round;
    min-width: 60px;
    height: 60px;
    font-size: 30px;
    align-items: left;
}
.information {
    height: 80px;
    border-top: 1px #DDDDDD;
    border-bottom: 1px #DDDDDD;
}
.max_guest, .number_bathrooms, .number_rooms {
    width: 100px;
    height: 100%;
    display: flex;
    justify-content: center;
    margin-top: 10px;
}
.user {
    height: 10%;
    width: 100%;
    padding-top: 10px;
    padding-bottom: 5px;
}
.description {
    text-align: justify;
    margin: 0px;
}
.max_guest {
    background-image: url("../images/icon_group.png");
    background-repeat: no-repeat;
}
.number_rooms {
    background-image: url("../images/icon_bed.png");
    background-repeat: no-repeat;
}
.number_bathrooms {
    background-image: url("../images/icon_bath.png");
    background-repeat: no-repeat;
}